.active{
    background-color: #e4e7ec;
    font-weight: 600;
}
.profileActive{
    background-color: white;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Lebar scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  /* background: #f1f1f1; Warna background track scrollbar */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgba(74, 222, 128, 0), #4ade80 30%, #14b8a6 70%, rgba(20, 184, 166, 0)); /* Efek transparan di ujung */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, rgba(34, 197, 94, 0), #22c55e 30%, #0d9488 70%, rgba(13, 148, 136, 0)); /* Efek transparan tetap ada saat hover */
}

.bgBlur::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: -1;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.9); /* Change this color to the desired slate-200 color */
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.openSidebar {
  transform: translateX(0.75rem) !important;
}
.rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

/* Select2 */
/* Styling input Select2 agar mirip Tailwind input */
.select2-container .select2-selection--single {
  height: 38px; /* match py-1.5 */
  border-radius: 0.375rem; /* match rounded-md */
  border: 1px solid #d1d5db; /* match outline-gray-300 */
  padding: 6px 12px;
  font-size: 1rem; /* text-base */
  color: #111827; /* text-gray-900 */
  background-color: white;
  outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
  top: 0;
  right: 6px;
}

/* Focus ring */
.select2-container--default .select2-selection--single:focus,
.select2-container--default .select2-selection--single:focus-visible {
  outline: 2px solid #4f46e5; /* indigo-600 */
  outline-offset: 2px;
}

/* Style search box inside dropdown */
.select2-container .select2-search--dropdown .select2-search__field {
  border: 1px solid #d1d5db;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.375rem;
}